<div class="error _s flex_style">
    <div>
        <div class="banner">
            404 - Page Not Found
            <div class="close _s"></div>
        </div>
        <div class="content">
            <div class="redX"></div>
            <div class="text">
                A wild 404-PAGE appeared!
            </div>
            <!-- <div class="btn _s">
                <div class="dash">OK</div>
            </div> -->
        </div>
    </div>
    <div>
        <button class="_s" (click)="back_to_login()">Back to Login Page</button>
    </div>
</div>